body {
    background-color:#EdE0D4;
    font-family: "Oswald", Tahoma, Verdana, Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    color: #42210b
}
header {
    background-color: #B08968;
    font-size: 1.5vw;
    padding: 1em;
    box-shadow: 0 0 3px #000;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav-item {
    list-style: none;
    padding-right: 1vw;
}
.nav-item a {
    color: #42210b;
    text-decoration: none;
    transition: .8s ease;
}
.nav-item a:hover {
    color: #834620;
}
.nav-item:first-child {
    margin-left: 25%;
    border-bottom-style: double;
    border-right-style:double;
}
.nav-item:nth-child(2) {
    border-bottom-style: double;
    border-right-style:double;    
}
.nav-item:nth-child(4) {
    border-bottom-style: double;
    border-right-style:double;
}
.nav-item:last-child {
    margin-right: 25%;
    border-bottom-style: double;
    border-right-style:double;
}
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.main-text {
    width: 50%;
    margin: 5em 5em 5em 20em;
    text-align: left;
}
.side-info {
    margin: 5em 20em 5em 0em;
    padding: 1em;
    text-align: left;
    border-style: outset;
    border-color: #ddb892;
    border-width: 2px;
}  
.contact-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
}
.contact-form label {
    margin: 5px 10px 5px 0;
    color: #42210b;
}
.contact-form input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.contact-form button {
    padding: 10px 20px;
    background-color: #42210b;
    border: 1px solid #ddd;
    color: white;
}
.contact-form button:hover {
    background-color: #834620;
    transition: .8s ease;
}
.fa-instagram, .fa-square-facebook, .fa-square-twitter{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    transition: .8s ease;
    color: #42210b;
}
.fa-instagram:hover, .fa-square-facebook:hover, .fa-square-twitter:hover {
    color:#834620;
}
.bottom-color {
    background-color: #B08968;
    padding: 2em 5em;
}  
footer {
    background-color: #540B0E;
    padding: 5em;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: .15vw;
    color: #1b0b02;
}

@media (max-width: 800px) {
    .contact-form input {
      margin: 10px 0;
    }
  
    .contact-form {
      flex-direction: column;
      align-items: stretch;
    }
  }